
<header class="header">
    <h1 class="header__title">Бублик<br>Бублик</h1>
</header>
<article class="logotype">
    <h1>Это наш логотип</h1>
</article>
<article class="article article_whitebg article_first">
    <h2 class="black">Домашняя страница<br>системы</h2>
    <p class="black">Система умный <strong>БУЛИК</strong>Пока точно еще не придумали че-каво но как то так</p>
</article>
<article class="article article_bluebg article_second">
    <h2 class="white">Свяжись со мной!</h2>
    <p class="white">Пиши, не стесняйся :)</p>
    <form class="form">
        <input type="email" class="form_input" placeholder="E-mail">
        <input type="text" class="form_input" placeholder="Имя">
        <textarea class="form_textarea" placeholder="Ваше сообщение"></textarea>
        <button class="form_button" type="button">Отправить</button>
    </form>
</article>

